@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #15191C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 90px;
  padding: 2rem;
}

.logo {
  color: #F1D95C;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-menu {
  cursor: pointer;
}

@keyframes square-in-bottom-left {
  from {
    clip-path: inset(0 0 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.menu-container {
  position: absolute;
  background-color:#15191c91;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  width: 200px;
  height: 160px;
  right: 0;
  z-index: 3;
  display: none;
  animation: 1s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}

[transition-style="in:square:bottom-left"] {
  animation: 1s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}

.menu-container-active {
  display: block;
}

.menu-container ul li{
  list-style: none;
  padding: 0.8rem;
  position: relative;
  margin-left: 2rem;
}

.menu-container ul li a{
  text-decoration: none;
  margin-left: 1rem;
  color: #F1D95C;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem;
}

.menu-container ul li a:hover {
  border-bottom: 1px solid #F1D95C;
}

.menu-container ul li a::before {
  content: url(./assets/portal.png);
  position: absolute;
  left: -0.2rem;
}

.hero {
  background-image: url('./assets/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:auto;
  height: 600PX;
  display: flex;
  justify-content: space-between;
}

.hero-container-1 {
  background-color: rgba(217, 217, 217, 0.31);
  width: 570px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container-1-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #F1D95C;
  font-weight: 600;
}

.hero-container-1-subtitle {
  text-transform: uppercase;
  font-size: 4.2rem;
  line-height: .8;
  color: #F1D95C;
  font-weight: 600;
}

.btn-hero {
  border-radius: 10px;
  margin-top: 2rem;
  padding: 20px 84px;
  background-color: #F1D95C;
  text-decoration: none;
  font-size: 2rem;
  color:#1D3140;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-hero:hover {
  transition: all 1s;
  background-color: #ffe600;
}

.hero-container-2 {
  background: rgba(217, 217, 217, 0.36);
  border-radius: 8px;
  width: 41vw;
  position: absolute;
  height: auto;
  left: 42rem;
  top: 307px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.hero-container-2-content p {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.bg-section2 img {
 height:100vh;
 margin-bottom: -0.3rem;
}


.title-section {
  background-color: #151515;
  height: 90px;
  color: #F1D95C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


#curso {
  background-color: #15191C;
  color: #FFFFFF;
}

#contato {
  background-color: #ffe600;
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #151515;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 1px rgb(0 0 0 rgba(15, 15, 15, 0.8));
          box-shadow: 0px 4px 4px 1px rgb(0 0 0 rgba(15, 15, 15, 0.8));
  }
  
  .footer-container {
  padding-left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  }
  
  .footer-logo {
  color: #fff;
  }
  
  .social-mida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: .5rem;;
  gap: 40px;
  }
  
  .top-btn {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 2rem;
  height: 1.8rem;
  background-color:#f1d95c ;
  text-align: center;
  font-size: 1.5rem;
  font-weight:bolder;
  padding-top: 0.2rem;
  border-radius: 4px;
  color: #15191C;
  }
  
  .email-footer {
  color: #fff;
  text-decoration: none;
  }
  
  .copy-right {
  color:#4c4c4c;
  margin-top: .6rem;
  }
  

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .logo {
    font-size: 1.1rem;
  }

  .hero-container-1-title {
    font-size: 1.5rem;
  }

  .hero-container-1-subtitle {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 320px) and (max-width:989px) {
  .hero-container-1 {
    width: 100%;
  }

  .hero-container-2 {
    display: none;
  }
}

@media only screen and (min-width: 990px) and (max-width:1160px){
  .hero-container-2 {
    width: 32vw;
    left: 62vw;
  }

  .hero-container-2-content p {
    font-size: 1.2rem;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1800px) and (max-width:3000px){
  .hero-container-2 {
    left: 54rem;
  }
}